
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-1.6.4.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div>
        <input type="text" id="txtMsg" />
    </div>
    <script type="text/javascript">
        var chatHub = $.connection.chatHub;
        $.connection.hub.start().done(function () {
            $(document).keydown(function (e) {
                if (e.keyCode == 13) {
                    chatHub.server.send("Admin", $("#txtMsg").val());
                    $("#txtMsg").val("");
                }
            });
        });
    </script>
</body>
</html>
