
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>
<body>

    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>

    <script type="text/javascript">
        $(function () {
            var chatHub = $.connection.chatHub;
            chatHub.client.addNewMessage = function (name, msg) {
                $('#discussion').append('<li><strong>' + name
                    + '</strong>: ' + msg + '</li>');
            }

            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            //$('#message').focus();

            $.connection.hub.start().done(function () {
                $(document).keydown(function (e) {
                    if (e.keyCode == 13) {
                        chatHub.server.send($('#displayname').val(), $('#message').val());

                        $('#message').val('').focus();
                    }
                })
            });
        });
    </script>
</body>
</html>
